.c-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}
.s-img{
    height: 300px;
}
@media only screen and (max-width: 600px) {
    .c-card {
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  }