.s-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 400px;

}
.s-img{
    height: 300px;
}
@media only screen and (max-width: 600px) {
    .s-card {
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  }